<ng-container *ngIf="(comicsState$ | async) as state" [ngSwitch]="state.appState">
  <!-- ==================================== Navbar ===================================-->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Listado Comics</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form #searchForm="ngForm" (ngSubmit)="goToPage(searchForm.value.name)" class="d-flex" role="search">
          <input type="text" name="name" ngModel class="form-control me-2"  placeholder="Search Comic" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- ==================================== Navbar end ===================================-->

  <!-- ==================================== Button to add Comics begin ===================================-->
  <div class="container mt-5">
  <!-- Create Comic Modal begin -->
    <div class="modal fade" id="createComicModal" tabindex="-1" role="dialog" aria-labelledby="createComicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createComicModalLabel">Crear Comic</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form #createForm="ngForm" (ngSubmit)="onCreateComic(createForm)">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" ngModel name="nombre" class="form-control" id="nombre"  required>
              </div>
              <div class="form-group">
                <label for="editorial">Editorial</label>
                <input type="email" ngModel name="editorial" class="form-control" id="editorial" required>
              </div>
              <div class="form-group">
                <label for="tematica">Tematica</label>
                <input type="text" ngModel name="tematicaEnum" class="form-control" id="tematica" required>
              </div>
              <div class="form-group">
                <label for="coleccion">Coleccion</label>
                <input type="text" ngModel name="coleccion" class="form-control" id="coleccion" required>
              </div>
              <div class="form-group">
                <label for="paginas">Numero de paginas</label>
                <input type="number" ngModel name="numeroPaginas" class="form-control" id="paginas" required>
              </div>
              <div class="form-group">
                <label for="autores">Autor</label>
                <input type="text" ngModel name="autores" class="form-control" id="autores" required>
              </div>
              <div class="form-group">
                <label for="color">Color</label>
                <input type="text" ngModel name="color" class="form-control" id="color" required>
              </div>
              <div class="form-group">
                <label for="precio">Precio</label>
                <input type="number" ngModel name="precio" class="form-control" id="precio" required>
              </div>
              <div class="form-group">
                <label for="cantidad">Cantidad</label>
                <input type="number" ngModel name="cantidad" class="form-control" id="cantidad" required>
              </div>
              <div class="form-group">
                <label for="estado">Estado</label>
                <input type="text" ngModel name="estadoEnum" class="form-control" id="estado" required>
              </div>
              <div class="modal-footer">
                <button type="button" id="create-comic-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="createForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <!--  Create Comic Modal end -->
    <ng-container>
      <button type="button" class="btn btn-primary btn-sm me-3" (click)="onOpenModal(null, 'create')"> Create </button>
    </ng-container>
  </div>
  <!-- ==================================== Button to add Comics end ===================================-->

  <!-- ==================================== Table begin ===================================-->
  <div class="container">
  <div class="container" id="table-container">
    <div class="row">
      <div class="col-md-12 mt-1">
<!-- =========================================== Start switch case ========================== -->
        <ng-container *ngSwitchCase="'APP_ERROR'">
          <span style="color: red"> <h1> {{state.error?.error.data.errorMessage | json}} </h1> </span>
        </ng-container>

        <ng-container *ngSwitchCase="'APP_LOADING'">
          <div class="d-flex justify-content-center mt-5">
            <div class="spinner-border text-warning" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'APP_LOADED'">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Editorial</th>
              <th scope="col">Tematica</th>
              <th scope="col">Paginas</th>
              <th scope="col">Autores</th>
              <th scope="col">Fecha Venta</th>
              <th scope="col">Estado</th>
              <th scope="col">Cantidad</th>
              <th scope="col"> Operacion </th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comic of state.appData.data.content">
              <td>{{comic.nombre}}</td>
              <td>{{comic.editorial}}</td>
              <td>{{comic.tematicaEnum}}</td>
              <td>{{comic.numeroPaginas}}</td>
              <td>{{comic.autores}}</td>
              <td>{{comic.fechaVenta}}</td>
              <td>
                <span class="badge" [ngClass]="comic.estadoEnum == 'ACTIVO' ? 'bg-success': 'bg-danger'">
                  {{comic.estadoEnum}}
                </span>
              </td>
              <td>{{comic.cantidad}}</td>
              <td>
                <div class="d-flex">
                  <button type="button" class="btn btn-warning btn-sm me-3" (click)="onOpenModal(comic, 'update')">Update</button>
                  <button type="button" class="btn btn-danger btn-sm" (click)="onOpenModal(comic, 'delete')">Delete</button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <!-- ==================================== Pagination begin ===================================-->
          <nav aria-label="...">
            <ul class="pagination justify-content-end">
              <li class="page-item pointer" [ngClass]="0 == (currentPage$ | async) ? 'disabled': ''">
                <a class="page-link" (click)="goToNextOrPreviusPage('backward', searchForm.value.name)">Previous</a>
              </li>
              <li *ngFor="let pageNumber of [].constructor(state.appData.data.totalPages); let page = index" class="page-item" [ngClass]=" page == (currentPage$ | async) ? 'active': ''">
                <a class="page-link pointer" (click)="goToPage(searchForm.value.name, page)">
                  {{ page+1 }}
                </a>
              </li>
              <li class="page-item pointer" [ngClass]="(state.appData.data.totalPages-1) == (currentPage$ | async) ? 'disabled': ''">
                <a class="page-link" (click)="goToNextOrPreviusPage('forward', searchForm.value.name)">Next</a>
              </li>
            </ul>
          </nav>
          <!-- ==================================== Pagination end ===================================-->
        </ng-container>
<!-- =============================================End switch case ============================ -->
      </div>
    </div>
  </div>

  <!-- ==================================== Update Comic form begin ===================================-->
  <div class="container mt-5">
    <div class="modal fade" id="updateComicModal" tabindex="-1" role="dialog" aria-labelledby="updateComicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateComicModalLabel">Actualizar Comic</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form #updateForm="ngForm">
              <div class="form-group">
                <label for="u_id" >Id</label>
                <input type="text" ngModel="{{updateComic?.id}}" name="id" class="form-control" id="u_id"  required>
              </div>
              <div class="form-group">
                <label for="u_nombre" >Nombre</label>
                <input type="text" ngModel="{{updateComic?.nombre}}" name="nombre" class="form-control" id="u_nombre"  required>
              </div>
              <div class="form-group">
                <label for="u_editorial">Editorial</label>
                <input type="email" ngModel="{{updateComic?.editorial}}" name="editorial" class="form-control" id="u_editorial" required>
              </div>
              <div class="form-group">
                <label for="u_cantidad">Cantidad</label>
                <input type="number" ngModel="{{updateComic?.cantidad}}" name="cantidad" class="form-control" id="u_cantidad" required>
              </div>
              <div class="form-group">
                <label for="estadoEnum">Estado</label>
                <input type="text" ngModel="{{updateComic?.estadoEnum}}" name="estadoEnum" class="form-control" id="estadoEnum" required>
              </div>
              <div class="form-group">
                <label for="u_coleccion">Coleccion</label>
                <input type="text" ngModel="{{updateComic?.coleccion}}" name="coleccion" class="form-control" id="u_coleccion" required>
              </div>
              <div class="form-group">
                <label for="u_npaginas">Numero Paginas</label>
                <input type="number" ngModel="{{updateComic?.numeroPaginas}}" name="numeroPaginas" class="form-control" id="u_npaginas" required>
              </div>
              <div class="form-group">
                <label for="u_precio">Precio</label>
                <input type="number" ngModel="{{updateComic?.precio}}" name="precio" class="form-control" id="u_precio" required>
              </div>
              <div class="modal-footer">
                <button type="button" id="update-comic-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="onUpdateComic(updateForm.value)" type="submit" class="btn btn-primary" >Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================== Update Comic form end ===================================-->


  <!-- ==================================== Delete Comic form begin ===================================-->

    <div class="modal fade" id="deleteComicModal" tabindex="-1" role="dialog" aria-labelledby="deleteComicModelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteComicModelLabel">Eliminar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p> Estas seguro que quiere elimnar el comic: {{deleteComic?.nombre}}?</p>
            <div class="modal-footer">
              <button type="button" id="delete-comic-form" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <button (click)="onDeleteComic(deleteComic?.id)" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================== Delete Comic form end ===================================-->
  <!-- ==================================== Table end ===================================-->
</ng-container>
